{
  "development_db_conn_str": "",
  "development_category_tbl_name": "dev_category",
  "development_product_tbl_name": "dev_product",
  "development_product_category_tbl_name": "dev_product_category",
  "production_db_conn_str": "",
  "production_category_tbl_name": "prod_category",
  "production_product_tbl_name": "prod_product",
  "production_product_category_tbl_name": "prod_product_category"
}
