{
  "developmentDbConnectionString": "",
  "productionDbConnectionString": "",
  "developmentStageName": "dev",
  "productionStageName": "prod",
  "defaultListSizeLimit": "20",
  "idName": "id",
  "productTableName": "product",
  "categoryTableName": "category",
  "productCategoryTableName": "product_category"
}
